[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9.17"

[packages]
boto3 = "*"
daplug_core = "*"
psycopg2-binary = "*"
mysql-connector-python = "*"

[dev-packages]
lxml = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"

[scripts]
lint = "pylint --fail-under 10 daplug_sql"
integration = "./tests/integration/run.sh"
test = "pytest tests/unit"
test_ci = "bash -c 'pytest tests/unit && pytest tests/integration'"
coverage = "coverage run --source daplug_sql -m pytest tests --cov=daplug_sql --junitxml ./coverage/reports/junit.xml --cov-report xml:./coverage/reports/cov.xml --html=./coverage/reports/index.html --self-contained-html --cov-report html:./coverage/pretty -p no:warnings -o log_cli=true"
type-check = "mypy daplug_sql"
